<h1 class="text-center">Tous les appartements à louer</h1>

<% @flats.each do |flat| %>
  <div class="panel panel-default spacer">
    <div class="col-md-12">
        <h3><%= link_to flat.title , flat_path(flat.id) %></h3>

    </div>

    <div class="col-md-12">
        <p><%= flat.description %></p>
    </div>

    <div>
        <p>Adresse</p>
        <address><%= flat.address %></address>
    </div>

    <div>
        <p>Prix par jour</p>
        <span><%= flat.dayprice %></span> €
    </div>

    <%= link_to 'Show', flat, class:"btn btn-info" %>
    <%= link_to 'Edit', edit_flat_path(flat), class:"btn btn-info" %>
    <%= link_to 'Destroy', flat, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-info" %>

  </div>
<% end %>





<%= link_to 'Ajouter un nouvel appartement', new_flat_path, class:"btn btn-warning" %>
