<h1 class="text-center">Tous les appartements à louer</h1>

<% @flats.each do |flat| %>

  <div class="row-fluid">

    <div class="col-md-8">

      <%= link_to flat_path(flat) do %>
        <h3><%= flat.title %></h3>
      <% end %>
      <p><%= flat.description %></p>
      <p>Adresse</p>
      <address><%= flat.address %></address>
      <p>Prix par jour</p>
      <p><span><%= flat.dayprice %></span> €</p>

      <%= link_to flat do %>
        <button class="btn btn-info">Aller voir</button>
      <% end %>

      <%= link_to edit_flat_path(flat) do %>
        <button class="btn btn-info">Editer l'annonce</button>
      <% end %>

      <%= link_to flat, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <button class="btn btn-info">Supprimer l'annonce</button>
      <% end %>

    </div>

    <div class="col-md-4">

      <% flat.photos.each do |photo| %>
        <%= image_tag photo.picture.url(:medium) %>
      <% end %>


    </div>

  </div>

<% end %>

