<div class = "flash_box">
  <%= flash[:info] %>
</div>

<p id="notice"><%= notice %></p>

<div id="owl-demo">

  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>
  <div class="item"><img src="http://www.urbansejour.com/wp-content/files/2009/05/lyon-part-dieu-paul-bert-salon3-GF.jpg" alt="Owl Image"></div>

</div>



  <div class="col-md-6 col-md-offset-3">
    <h3><%= @flat.title %><h3>
  </div>

  <div class ="col-md-6 col-md-offset-3">
      <strong>Description:</strong>
      <p><%= @flat.description %></p>
  </div>

  <div class ="col-md-6 col-md-offset-3">
        <p>
          <strong>Address:</strong>
          <address><%= @flat.address %></address>
        </p>
  </div>

  <div class ="col-md-6 col-md-offset-3">
        <p>
          <strong>Day-price:</strong>
          <span><%= @flat.dayprice %></span> €
        </p>
  </div>
</div>


	<%# @flat.photos.each do |photo| %>
  <%#= image_tag photo.photo_url %>

<%# end %>


<%= link_to 'Edit', edit_flat_path(@flat), class:"btn btn-info" %> |
<%= link_to 'Back', flats_path, class:"btn btn-info"  %>

