<div class = "flash_box">
  <%= flash[:info] %>
</div>

<p id="notice"><%= notice %></p>

  <div class="col-md-6 col-md-offset-3">
    <h3><%= @flat.title %><h3>
  </div>

  <div class ="col-md-6 col-md-offset-3">
      <strong>Description:</strong>
      <p><%= @flat.description %></p>
  </div>

  <div class ="col-md-6 col-md-offset-3">
        <p>
          <strong>Address:</strong>
          <address><%= @flat.address %></address>
        </p>
  </div>

  <div class ="col-md-6 col-md-offset-3">
        <p>
          <strong>Day-price:</strong>
          <span><%= @flat.dayprice %></span> €
        </p>
  </div>
</div>



<h1><%= @flat.title %></h1>

<% @flat.photos.each do |photo| %>
<%= image_tag photo.file.url(:medium) %>
<% end %>


<%= link_to edit_flat_path(@flat) do %>
  <button class="btn btn-info">Editer l'annonce</button>
<% end %>

<%= link_to flat_path(@flat), method: :delete, data: { confirm: 'Are you sure?' } do %>
  <button class="btn btn-info">Supprimer l'annonce</button>
<% end %>

<%= link_to flats_path do %>
<button class="btn btn-default">Retour à la liste des annonces</button>  %>
<% end %>
